<?xml version="0.0" ?>
<robot name="tool.urdf">
  <link name="baseLink">
    <contact>
      <lateral_friction value="1.0"/>
      
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value="5"/>
       <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="-1"/>
    </inertial>
    <visual>
      <origin rpy="0 3.14 0" xyz="0 0 0"/>
      <geometry>
				<mesh filename="tool.stl" scale=".0032 .0032 .015"/>
      </geometry>
       <material name="red">
        <color rgba="0.74 0.17 0.17 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 3.14 0" xyz="0 0 0"/>
      <geometry>
	 	<mesh filename="tool.stl" scale=".0025 .0025 .015"/>
      </geometry>
    </collision>
  </link>
</robot>

